/* Body web */
#web-typeMovie-body {
  width: 100%;
  display: flex;
  margin-top: 60px;
  padding: 0px 10%;
  position: relative;
}

#web-typeMovie-body i {
  color: var(--bg-color);
}

#loader {
  text-align: center;
  display: block;
}

#loader.hidden {
  display: none;
}
#loader.movie-loader {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* movies */
.web-movies {
  width: 100%;
  padding: 0px 0px;
}

.movies-body-header .movies-title {
  text-align: center;
  margin: 20px 0px;
}
.web-movies .movies-title span {
  font-size: 30px;
  border-bottom: 4px solid var(--main-color);
}
.movies-more-info {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.movies-total {
  font-size: 18px;
  line-height: 18px;
}
/* Movie selection */
.movies-selection {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.movies-selection .filter {
  width: auto !important;
  font-size: 14px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}
.button-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.button-filter div {
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-filter .filter-perform {
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
  transition: all ease-in-out 0.2s;
  height: 30px;
}
.button-filter .filter-perform .icon {
  color: inherit !important;
}
.button-filter .filter-perform:hover {
  background-color: white;
  color: var(--main-color);
}

.button-filter .filter-remove {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--main-color);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  height: 30px;
}
.button-filter .filter-remove .icon {
  color: inherit;
}
.button-filter .filter-remove:hover {
  color: white;
  background-color: transparent;
}
.button-filter .icon {
  margin-right: 5px;
}
.movie-container {
  margin: 0px -5px;
}
.movies {
  padding: 0px;
}
.each-col {
  padding: 0px 5px !important;
}

.body-card {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding-top: 150%;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  overflow: hidden;
  background-image: black;
}

.card-play {
  background-color: var(--main-color);
  position: absolute;
  padding: 10px 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.card-play i {
  width: 18px;
  height: 18px;
}
.card-shadow {
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  opacity: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: -20px;
  gap: 10px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.addWishList {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
  z-index: 111;
}

.active-wishList {
  color: var(--main-color) !important;
}

.vote-box {
  width: 50px;
}
.circular-chart {
  width: 50px;
  height: 50px;
}

.body-card:hover .card-content {
  opacity: 1;
  bottom: 0px;
}

.body-card:hover .card-shadow {
  opacity: 1;
}
.body-card:hover .card-play {
  opacity: 1;
}

.card-play:hover {
  background-color: rgb(178, 0, 0);
}

.content-year {
  font-size: 16px;
}

.content-name {
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-name:hover {
  color: hsl(57, 97%, 45%);
}

.all_button_pages {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 20px 0px;
}

.all_button_pages i {
  color: rgba(0, 0, 0, 0.6);
}

.all_button_pages button {
  background-color: white;
}
.all_button_pages button:hover {
  background-color: rgb(224, 224, 224);
}
.all_button_pages button.Mui-selected {
  background-color: var(--main-color) !important;
  color: white;
}
.all_button_pages .MuiPaginationItem-ellipsis {
  color: white !important;
}
.change-pages button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.5px solid #eee;
}
.change-pages button[disabled] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  cursor: not-allowed !important;
}
.change-pages {
  display: flex;
}

.change-pages .page.first-page,
.change-pages .page.last-page {
  margin: 0px;
}

.change-pages .page {
  margin: 0px 5px;
}

.number-pages {
  display: flex;
  gap: 5px;
}

.hidden_button {
  display: none;
}

.active_button {
  background-color: var(--main-color) !important;
}
.no-results {
  display: none;
}
body.resultsNotExist {
  position: relative;
}

body.resultsNotExist .no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
body.resultsNotExist .no-results h2 {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--main-color);
}

body.resultsNotExist .no-results .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

body.resultsNotExist .movie-container,
body.resultsNotExist .all_button_pages {
  display: none;
}

body.resultsNotExist .footer-icon {
  position: fixed;
  bottom: 0px;
}
/* Responsive */
@media (max-width: 1000px) {
  .movies-body-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .web-movies .movies-title span {
    padding: 0px;
  }
  .container,
  .container-sm {
    max-width: 1000px !important;
  }
}
@media (max-width: 800px) {
  #web-body-movies {
    padding: 0px 5%;
  }
}

@media (max-width: 600px) {
  .movies-selection {
    justify-content: start;
    flex-wrap: wrap;
  }
  .no-results {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .movies-selection {
    justify-content: start;
    flex-wrap: wrap;
  }
  .vote-box {
    width: 30px;
  }
  .vote-box p {
    font-size: 12px;
  }
  .circular-chart {
    width: 30px;
    height: 30px;
  }
  .content-year {
    font-size: 14px;
  }
  .content-name {
    font-size: 16px;
  }
  .body-card:hover .card-play {
    opacity: 0;
  }
  .card-content {
    opacity: 1;
    bottom: 0px;
  }
  .card-shadow {
    opacity: 1;
  }
  body.resultsNotExist .no-results .content {
    font-size: 14px;
  }
}
