h1 {
  color: white;
}

#web_body_dashboard {
  padding: 0px 10%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.active-dashboard {
  border-left: 2px solid var(--main-color);
  color: var(--main-color) !important;
  background-color: #403f3f;
}
.dashboard-main {
  display: flex;
  background-color: rgb(41 41 41);
  width: 100%;
  border-radius: 10px;
  min-height: 600px;
  overflow: hidden;
}
.dashboard-header {
  min-width: 25%;
  display: flex;
  flex-direction: column;
}

.dashboard-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 100%;
}

.dashboard-account,
.dashboard-wishList,
.dashboard-log-out {
  padding: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: inherit;
}
.dashboard-account:hover,
.dashboard-log-out:hover,
.dashboard-wishList:hover {
  color: var(--main-color);
  background-color: #403f3f;
}

.dashboard-box {
  background-color: #403f3f;
  padding: 50px 20px;
  padding-top: 10px;
  flex: 1;
}
.dashboard-box h1 {
  margin-bottom: 20px;
}
.dashboard-box-main {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.dashboard-avt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.avatar-container {
  position: relative;
  width: fit-content;
}

.avatar-container label {
  width: max-content;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.avatar-container .icon-change {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  border: 2px solid black;
}
.avatar-container .icon-change svg {
  margin: auto;
  font-size: 16px;
  color: orange;
}

.dashboard-box-main .form_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
}
.dashboard-box-main form div {
  flex: 1
}

.dashboard-box-main form div input {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px
}

.dashboard-submit {
  padding: 5px 20px;
  font-size: 18px;
  float: right;
}
.checkPassword {
  display: none;
}

.account-wrong input {
  border: 3px solid red;
}
.account-wrong .checkPassword {
  display: block;
}

.wishListClass {
  overflow: auto;
  height: 600px;
}

.wishListClass::-webkit-scrollbar {
  width: 5px;
}

.wishListClass::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.wishListClass::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.wishListClass::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.wishList-header {
  text-align: center;
  margin-bottom: 20px;
}
.wishList-header span {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--main-color);
}

.wishList-item {
  margin-bottom: 10px;
  padding: 0px 5px !important;
}

.wishList-sub-item {
  position: relative;
}

.wishList-sub-item i {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.wishlistEmpty-box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  gap: 20px;
}

.wishlistEmpty-title {
  color: rgb(0, 132, 255);
  text-align: center;
  margin-bottom: 10px;
}
.wishlistEmpty-content {
  text-align: center;
}
.wishlistEmpty-btn {
  width: 150px;
  margin: 0px auto;
}
.wishlistEmpty-btn button {
  background-color: rgb(0, 132, 255);
  color: white;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}
.btn-toast {
  display: inline-block;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  background-color: #71be34;
}

.btn-toast:hover {
  opacity: 0.8;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  animation: slideInLeft ease 0.3s, fadeOut linear 1s 1s forwards;
  border-color: #47d864;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}
@media (max-width: 850px) {
  .dashboard-main {
    flex-direction: column;
  }
  .dashboard-avt {
    align-items: center;
  }
  .dashboard-menu {
    display: flex;
  }
  .active-dashboard {
    border: none;
    border-bottom: 3px solid var(--main-color);
  }
}
@media (max-width: 500px) {
  .dashboard-box-main .form_box {
    flex-direction: column;
    gap: 10px;
  }
  .dashboard-box button {
    width: 100%;
  }
  .dashboard-menu a {
    font-size: 14px;
    padding: 5px 10px;
  }
}

@media (max-width: 400px) {
   .dashboard-menu a {
    font-size: 14px;
    padding: 5px 5px;
    gap:5px
  }
}
