.bannerContainer {
    max-height: 700px;
    position: relative;
}
.bannerImage img {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.bannerPlay {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 60px;
    height: 60px;
    background: var(--bg-color);
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7, 0.4);
    color: var(--main-color);
    display: flex;
}

.bannerPlay i {
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    margin: auto;
    color: var(--main-color)
}

.bannerPlay:hover {
    background: var(--main-color);
    transition: 0.2s all linear;
}
.bannerPlay:hover i{
    color: white;
    transition: 0.2s all linear;

}
/* Body */
#web-homePage-body {
    
}

#web-homePage-body a {
    color: white
}
#web-homePage-body .movies-container.first {
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    height: 600px;
}

#web-homePage-body .main-movies {
    width: 100%;
    height: 100%;
}
#web-homePage-body .main-movies img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    opacity: 0.6;
}
#web-homePage-body .movie-slider {
    position: absolute;
    width: 30%;
    z-index: 1;
    bottom: 10px;
    right: 20px;
    overflow: hidden;
}

#web-homePage-body .movie-slider .slider-item {
    height: 100%;
    padding : 10px;
}

#web-homePage-body .movie-slider .slider-item img {
    width: 100%;
    display: block;
    box-shadow: 0 0 5px red;

}

#web-homePage-body .movie {
    width: 100%;
    height: 100%;
    padding: 50px 5%;
    animation: scale-display 0.5s;
    position: absolute;
}

#web-homePage-body .movie .movie-main {
    width: 100%;
}

#web-homePage-body .movie .movie-title {
    font-size: 40px;
    margin: 30px 0px;
}

#web-homePage-body .movie .movie-year-vote {
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}

#web-homePage-body .movie .movie-year {
    font-size: 20px;
    margin-right: 10px;
}

#web-homePage-body .movie .movie-vote {
    font-size: 15px;
    background-color: gray;
    padding: 3px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#web-homePage-body .movie .movie-overview {
    font-size: 20px;
    margin-bottom: 80px;
}

#web-homePage-body .movie .movie-watch {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#web-homePage-body .typeOfMovies-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

#web-homePage-body .typeOfMovies-header .type-title {
    border-bottom: 4px solid var(--main-color);
    font-size: 30px;
    line-height: 30px;
}
#web-homePage-body .showmore-button {
    text-align: right;
    margin: 10px 0px;
}
#web-homePage-body #load-more button {
    padding: 5px 20px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    transition: all ease-in 0.2s 
}
#web-homePage-body #load-more button:hover {
    background-color: white;
    color: var(--main-color)
}
#web-homePage-body .border-cards {
    border-radius: 10px;
}

#web-homePage-body .active {
    display: block;
}

#web-homePage-body .opacity-image {
    filter: brightness(0.3);
}

#web-homePage-body .grid-image {
    display: grid;
    grid-template: auto/ repeat(5, 1fr);
    grid-gap: 20px;
}

#web-homePage-body .grid-image .box {
    background: no-repeat center;
    background-size: cover;
    padding-top: calc(9 / 16 * 100%);
    display: block;
    position: relative;
}

#web-homePage-body .grid-image a:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#web-homePage-body .grid-image a:first-child .box {
    height: 100%;
}
#web-homePage-body .grid-image .box .type-movie-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0px;
    z-index: 1;
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}
#web-homePage-body .test_rated {
    padding: 0px;
    display: flex;
    justify-content: center;
}

#web-homePage-body .top-rated-main {
    margin: 20px 0px;
}

#web-homePage-body .top-rated_box {
    position: relative;
    padding: 10px;
    height: 155px;
}

#web-homePage-body .top-rated-num {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #555;
    font-size: 200px;
    font-weight: 800;
    line-height: 160px;
    font-style: none;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(calc(-50% - 30px));
    top: 0px;
}

#web-homePage-body .top-rated-img {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 30px));
}

#web-homePage-body .top-rated-img img {
    height: 100%;
}
#web-homePage-body .genres-type {
    padding: 0px !important;
    margin: 0px -10px
}

#web-homePage-body .genre-box {
    background-color: #7c7c7c33;
    padding: 10px;
    margin-bottom: 24px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#web-homePage-body .genre-box img {
    height: 80px;
}

@media (max-width: 1140px) {
    .movies-container.first {
        height: 500px;
    }
    .movie .movie-title {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .movie .movie-year-vote {
        margin-bottom: 20px;
    }

    .movie .movie-overview {
        margin-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    .movie .movie-title {
        height: auto;
    }

    .movie .movie-year-vote {
        margin-bottom: 20px;
        font-size: 15px !important;
    }

    .movie .movie-overview {
        margin-bottom: 30px;
        font-size: 15px !important;
    }

    .movies-container .movie-slider .slider-item {
        max-width: 150px !important;
    }
}

@media (max-width: 900px) {
    .movie .movie-title {
        font-size: 30px !important;
    }

    .movie-vote {
        font-size: 15px !important;
    }

    .movie-year {
        font-size: 15px !important;
    }

    .movie-detail .btn {
        font-size: 12px !important;
        padding: 5px 8px;
    }

    .home-image {
        min-height: 400px;
    }

    .home-image img {
        object-fit: cover;
    }
    .grid-image {
        grid-template: auto/ repeat(4, 1fr);
    }
}

@media (max-width: 700px) {
    .movies-container .movie-slider {
        width: 50%;
    }

    .movies-container .movie-slider .slider-item {
        min-height: 120px !important;
    }

    .home-image {
        min-height: 300px;
    }

    .grid-image {
        grid-template: auto/ repeat(3, 1fr);
    }
}
@media (max-width: 600px) {
    .movies-container {
        height: auto;
    }

    .movie-slider {
        left: 50%;
        transform: translateX(-50%);
    }

    .movie-main {
        margin: 0px auto;
        text-align: center;
        width: 100% !important;
    }

    .main-movies {
        width: 100%;
        border-radius: 20px;
    }

    .movie .movie-year-vote {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .home-image {
        min-height: 250px;
    }

    .top-rated_box {
        height: 100px;
    }
    .top-rated-num {
        font-size: 120px;
        line-height: 120px;
    }
    .top-rated-img {
        height: 120px;
    }
    .grid-image .box .type-movie-title {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .typeOfMovies-header .type-title {
        font-size: 20px;
    }
    #load-more button {
        padding: 0px 10px;
    }
}

@media (max-width: 400px) {
    .home-image {
        min-height: 250px;
    }
    .grid-image {
        grid-template: auto/ repeat(2, 1fr);
    }
    .genre-box {
        height: 120px;
    }
    .genre-box img {
        height: 60px;
    }
}
