body,
html {
  height: 100%;
}

.active-sign {
  opacity: 0.5;
}

.web-body {
  position: relative;
  min-height: 710px;
  height: 100%;
}

.web-body input {
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  line-height: 50px;
  padding: 16px 20px;
  width: 100%;
  outline: none;
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
}

.web-body button {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 20px;
  color: white;
  background-color: red;
  margin-top: 20px;
  transition: all ease-in-out 0.3s;
}

.web-body button:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.container_image {
  width: 100%;
  z-index: -1;
  height: 100%;
  position: fixed;
}

.container_image img {
  width: 100%;
  filter: brightness(0.3);
  position: absolute;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.container_sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 40px 50px 40px 50px;
  min-width: 450px;
}

.sign-in-wrong {
  border: 1px solid red;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.sign-in-wrong i {
  font-size: 24px;
  color: var(--main-color);
}

.sign-in-wrong .wrong-notice .notice-title {
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 5px;
}

.sign-in-wrong .wrong-notice .notice-content {
  font-size: 13px;
}

.sign-title {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.sign-title div:hover {
  cursor: pointer;
}
.sign-in-title,
.sign-up-title {
  font-size: 25px;
  text-align: left;
}

.sign-in-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-in-body .anotherSignIn {
  text-align: center;
  margin: 30px 0px;
  position: relative;
  z-index: 1;
}

.sign-in-body p {
  margin: 0px auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
}

.sign-in-body .anotherSignIn::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.sign-in-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

.box-icon i {
  line-height: 40px;
  font-size: 25px;
}

.sign-converting {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.sign-converting span {
  display: inline-block;
}

.sign-converting span::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #eee;
}
.successful_sign {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  color: black;
  transition: all ease-in-out 0.4s;
  display: none;
}

.successful_box {
  margin: auto;
  width: 450px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 30px;
}

.successful_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.successful_main .check-box {
  width: 80px;
  height: 80px;
  background-color: green;
  border-radius: 50%;
  display: flex;
}
.successful_main .check-box i {
  margin: auto;
  font-size: 40px;
  color: white;
}
.successful_main {
  font-size: 40px;
}

.successful_continue {
  padding: 10px 20px;
}
/* Sign-up */

.sign-up-body label {
  margin-bottom: 5px;
  display: block;
}

.sign-up-body .avt_choosing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sign-up-body .avt_choosing input {
  height: auto;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
  flex: 20%;
  text-align: right;
}

.sign-up-body .licence {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-up-body input[type='checkbox'] {
  padding: 0px;
  margin: 0px;
  width: 18px;
  display: block;
}

.sign-up-body button {
  width: 100%;
}

.wrongBox input {
  border: 3px solid red;
}

.checkAllow {
  display: none;
}

.wrongBox .checkAllow {
  display: block;
}

.checkEmail,
.checkPassword {
  display: none;
}

.wrongBox .checkEmail,
.wrongBox .checkPassword {
  display: block;
}

.sign-up-body .checkPassword,
.sign-up-body .checkEmail,
.sign-up-body .checkAllow {
  color: red;
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Resposive */
@media (max-width: 600px) {
  .container_sign {
    top: 0px;
    left: 0px;
    width: auto;
    bottom: 0px;
    right: 0px;
    transform: none;
    min-width: 300px;
  }
  .sign-title {
    margin-top: 50px;
  }
  .successful_sign {
    padding: 0px 30px;
  }
  .successful_box {
    width: 100%;
  }
}

.social-title {
  text-align: center;
  margin: 10px 0px;
  position: relative;
}
.social-title span {
  background-color: rgba(0, 0, 0, 0.8);
}

.social-title::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #eee;
  bottom: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.social-items {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-items .item {
  font-size: 18px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.google {
  color: #d73333;
  border: 1px solid #d73333;
}

.facebook {
  color: #1877f2;
  border: 1px solid #1877f2;
}

.twitter {
  color: #1c9cea;
  border: 1px solid #1c9cea;
}
.sign-up-body p {
  width: 100%;
}
.sign-up-body input[type='file'] {
  padding: 0px;
}
