.movie-comments {
  margin-top: 20px;
}

.comment-main {
  padding: 20px 0px;
}

.comment-box {
  overflow-y: auto;
  max-height: 800px;
}

.comment-box::-webkit-scrollbar {
  width: 5px;
}

.comment-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.comment-box::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.comment-box::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-personal {
  margin-bottom: 30px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.comment-info {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-author {
  font-size: 21px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
}
.comment-identity {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #4cc790;
  border-radius: 5px;
}
.comment-time {
  font-size: 13px;
}

.comment-text {
  font-size: 16px;
}

.comment-text .read_more {
  cursor: pointer;
  text-decoration: underline;
  display: none;
}
.comment-features {
  display: flex;
  gap: 20px;
}

.comment-features > div {
  font-size: 14px;
  display: flex;
  align-items: start;
  gap: 5px;
  cursor: pointer;
}
.comment-features .comment-delete {
  color: #ed6368;
}
.comment-features .comment-delete:hover {
  color: #ffb8bb;
}
.comment-features .comment-edit {
  color: #5357b6;
}
.comment-features .comment-edit:hover {
  color: #c5c6ef;
}
.commentEdit {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}
.comment-me {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}

.comment-me img {
  width: 50px;
  display: block;
  background: aqua;
  border-radius: 50%;
}

.comment-me .text {
  flex: 1;
  overflow: hidden;
}

.comment-me .text input {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 15px;
  margin: 0px;
  border-radius: 10px 10px 0px 0px;
}

.comment-upload {
  width: 100%;
  background-color: #eee;
  text-align: right;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.comment-upload button {
  background-color: var(--main-color);
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
  margin: 0px;
}

.active-inline {
  display: inline !important;
}

@media (max-width: 685px) {
  .comment-author {
    font-size: 18px;
  }
  .comment-info {
    font-size: 10px;
  }
  .comment-text {
    font-size: 12px;
    text-align: justify;
  }
  .comment-me {
    gap: 10px;
  }
  .comment-me img {
    width: 40px;
    height: 40px;
  }
  .comment-me .text input {
    height: 30px;
  }
}

@media (max-width: 600px) {
  .comment {
    gap: 10px;
  }

  .comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
@media (max-width: 500px) {
  .comment-me input {
    padding-left: 10px;
    font-size: 12px;
  }
  .comment-upload {
    padding: 3px 0px;
  }
  .comment-upload button {
    padding: 2px 5px;
    font-size: 10px;
  }
}
